@charset "utf-8";

/*コンテンツ（オーバーライド）
---------------------------------------------------------------------------*/

.main .contents {
	width: 100%;
}


/*検索結果→詳細画面 アイテム紹介（オーバーライド）
---------------------------------------------------------------------------*/

#item_exp {
	width: 81%;
}
#item_exp .sam img {
	margin-bottom: 30px;
}

/*検索結果→詳細画面 アイテム紹介-詳細（オーバーライド）
---------------------------------------------------------------------------*/
#book.main .ttl{
	display: block;
}

#book.main .contents>.ttl{
	margin: 15px auto;
	width: 90%;
}

#book.main .ttl strong{
	font-size: 1em;
}
/*品切れ中ボタン
---------------------------------------------------------------------------*/
#cart span.btn_disable{
	margin: 0 auto;
	width: 60%;
}

#cart .author{
	margin-top: 20px;
}
