@charset "utf-8";

/*プロジェクトタイトル
---------------------------------------------------------------------------*/


#project_ttl {
	margin-bottom: 20px;
}
#project_ttl th {
	width: 9%;
}
#project_ttl td {
	padding-left: 10px;
	vertical-align: middle;
}
#project_ttl td h1 {
	font-size: 117%;
	padding:0;
}
#about_project {
	margin-bottom: 25px;
}
#about_project h2 {
	font-size: 116%;
	margin-bottom: 20px;
}
#about_project p {
	font-size: 108%;
	font-family: "ヒラギノ明朝 ProN W6", "HiraMinProN-W6", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
}

/*プロジェクトコンテンツ
---------------------------------------------------------------------------*/

.main_ttl {
	text-align: center;
	margin-bottom: 15px;
}

#project_contents table {
	margin-bottom: 14px;
}
#project_contents table;last-child {
	margin-bottom: 0px;
}
#project_contents th,#project_contents td {
	padding-bottom: 14px;
	border-bottom: 1px solid #000000;
}
#project_contents th {
	width: 43%;
}
#project_contents .sam img {
	width: 100%;
	height: auto;
	border: 3px solid #FFFFFF;
}
#project_contents td {
	padding-left: 10px;
}
#project_contents .num {
	padding-top: 10px;
}
#project_contents ul.num {
    display: table;
	margin-bottom: 10px;
}
#project_contents .num li {
    display: table-cell;
    vertical-align: middle;
	padding-right: 7px;
	font-size: 83%;
	font-weight: bold;
}
#project_contents .num li:last-child {
	padding-right: 0px;
}
#project_contents h3 {
	margin-bottom: 5px;
	font-size: 92%;
}
#project_contents .address {
	font-size: 75%;
	margin-bottom: 14px;
	font-family: "ヒラギノ明朝 ProN W6", "HiraMinProN-W6", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
}
#project_contents a.btn {
	width: 72%;
}