@charset "utf-8";

/*メニューアウトライン（オーバーライド）
---------------------------------------------------------------------------*/
.menu_outline h3 {
	font-family: "ヒラギノ明朝 ProN W6", "HiraMinProN-W6", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
	font-size: 90%;
}
.menu_outline dl dt {
	padding: 3px 5px 3px ;
	font-weight: bold;
	height: 30px;
	position: relative;
  font-size: 90%;
  letter-spacing: 0.1ex;
}
.menu_outline dl dt a{
  color:#333;
	text-decoration:none;
  display: block;
  vertical-align: middle;
  line-height: 30px;
}

dl dt span {
	display: block;
	cursor: pointer;
	font-weight: bold;
	text-align: center;
	color: #FFF;
	line-height: 30px;
	width: 30px;
	height: 30px;
	background: #473727;
	position: absolute;
	top: 0;
	right: 0;
}

.menu_outline dl dd{
  margin: 10px 0;
  display: none;
}

.menu_outline dl dd ul{
  margin: 0 1em 0 2em;
}

.menu_outline dl dd ul li{
  font-size: 1em;
  list-style:disc;
  margin: 8px 0;
}
